<!DOCTYPE html>
<html>
	<header>
		<div>
			<title>Quan ly khach san</title>
		<div>
	</header>

	<body>
		<div class="container">
			<h1>Create Bill</h1>
			<div>
				<a href="Home">Home</a>
				<a href="SignIn">Sign In</a>
				<a href="SignUp">Sign Up</a>
				<a href="#">Employees</a>
			</div>
		</div>

		<div>
			<form>
				<label>ID order: <label>
				<input type="text" name="inputIdOrder" class="form-bill" placeholder="id order" required autofocus/>
				<input type="button" name="btnbill" value="Creat bill"/>
			</form>
		</div>
	</body>

</html>
