<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Tim Kiem Khach San</title>
	</head>

	<body>
	   <div class="container">
		<h1>Home</h1>
		<div class="header">
		<nav>
			<a href="Home">Home</a>
			<a href="SignIn">Sign In</a>
			<a href="SignUp">Sign Up</a>
		</nav>
		</div>
	   </div>
	   <div>
		<label>Search by:<label>
		<select name="dropdown">
			<option value="">Prices</option>
			<option value="">City</option>
			<option value="">Rank, City</option>
		</select>
		<input type="button" name="btnSearch"  value="Search">
	   </div>

		
	</body>

