<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
		<script>
			$(document).ready(function(){
				$("#btnSearch").click(function(){
					$ajax({
						
					});
				});
			});
		</script>
		<title>Tim Kiem Khach San</title>
	</head>

	<body>
		<div class="container">
			<h1>Home</h1>
			<div class="header">
				<ul>
					<li><a href="Home">Home</a></li>
					<li><a href="SignIn">Sign In</a></li>
					<li><a href="SignUp">Sign Up</a></li>
				</ul>
			</div>
		</div>

		<div>
			<label>Search by:<label>
			<select name="dropdown" id="selDropdown">
				<option value="Prices">Prices</option>
				<option value="City">City</option>
				<option value="Rank_City">Rank, City</option>
			</select>
			<button id="btnSearch">Search</button>
		</div>
	</body>
</html>

